@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 260px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.image-box {
    width: 115px;
    height: 114px;
    /* Adjust height as needed */
    border: 1px solid #ccc;
    /* Border style */
    overflow: hidden;
    /* Hide overflowing content */
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.image-box img {
    max-width: 100%;
    /* Ensure image doesn't exceed box width */
    max-height: 100%;
    /* Ensure image doesn't exceed box height */
    display: block;
    /* Remove any default spacing */
}

.dropzone {
    width: 100px;
    height: 80px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}
.card-header{
    margin-left: 125px;
    line-height: 46px;
}

.center-msg {
    margin-left: 27%;
}
.page-head{
    margin-bottom: -46px;
    margin-top: 39px;
    font-weight: bold;
}
.upload-input {
    position: relative;
    top: 7px;
    left: 192px;
    width: 24%;
    height: 34%;
}

.deletebtn {
    position: relative;
    top: -143px;
    left: 162px;
    width: 23%;
}

.upload_imgs {
    margin-top: 71px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 1px solid #5b4e4e;
    text-align: left;
    padding: 8px;
    
  }
  
  td{
      border: 1px solid #5b4e4e;
    text-align: left;
  
    vertical-align: middle;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd !important;
  } 

  h1 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}